name: ci

on: [push, pull_request]

jobs:
  python:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Instalar dependências
        run: |
          cd python
          pip install -r requirements.txt

      - name: Executar testes com cobertura
        run: |
          cd python
          coverage run -m pytest -q
          coverage html && coverage xml

      - name: Salvar relatório de cobertura
        uses: actions/upload-artifact@v4
        with:
          name: coverage-py
          path: python/htmlcov
